body { background: #FAF9F7; }
.logo { text-align: center; border-bottom: 1px solid rgba(18, 18, 18, .1); height: 46px; padding: 5px 0 0;box-sizing: border-box; }
.logo img{display:block;}
.wrapper {background: #fff;max-width: 640px;position: relative;margin: 0;padding: 30px 20px;border-radius: 0;float: right;box-sizing: border-box;height: calc(100vh - 54px);overflow: auto;}
.wrapper::-webkit-scrollbar{height: 10px;width: 5px;}
.wrapper::-webkit-scrollbar-thumb{background: #C1C1C1;border-radius: 10px;}
.carousel_v3, .v2_highlight, .v2_reviews {padding-bottom: 20px;}
.v2_carousel {padding: 20px 10px 60px;}
.v2_badge {padding: 20px;}

.stars_v3 { padding: 20px; display: flex; gap: 20px; justify-content: space-between; flex-wrap: wrap; }
.stars_v3 section { width: 45%; text-align: center; background: #f2f2f2; flex-grow: 1; border-radius: 20px; display: flex; flex-direction: column; align-items: center; padding: 10px; }
.stars_v3 section h1 { margin: 0; font-size: 23px; font-family: "trebuchet ms"; margin-bottom: 12px; }
.stars_v3 section:first-child h1 { margin-bottom: 17px; }

.yotpo-widget-instance[mode-preview="true"] .yotpo-reviews-tab-layout.yotpo-align-text.yotpo-reviews-tab-layout-preview { height: auto; }
.yotpo-display-l .yotpo-base-layout { width: 100% !important; }

@media only screen and (max-width: 768px) {
    .wrapper {
        max-width:100%;
    }
    
}

@media only screen and (max-width: 600px) {
    .wrapper {
        padding: 0;
        margin: 20px 0 0;
    }
    body {
        background: #fff;
    }
}
